/** SCREEN CONSTANTS **/
$small-screen: 319px;
$medium-screen: 768px;
$large-screen: 992px;
$xlarge-screen: 1200px;

/** COLOR CONSTANTS **/
$principal-color: #8c4bc9;
$secondary-color: #52358d;
$terciary-color: #e5d7ff;
$light-color: #caafff;

/** SMALL SCREEN FONT SIZE CONSTANTS **/
$title-small-font: 40px;
$title-small-font: 40px;

/** MEDIUM SCREEN FONT SIZE CONSTANTS **/
$title-medium-font: 40px;
$title-medium-font: 40px;

/** LARGE SCREEN FONT SIZE CONSTANTS **/
$title-large-font: 40px;
$title-large-font: 40px;

/** XLARGE SCREEN FONT SIZE CONSTANTS **/
$title-xlarge-font: 40px;
$title-xlarge-font: 40px;